.cd-btn {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 10px;
    height: 18px;
    width: 18px;
    background-image: url("../images/bg-textures/open-panel.png");
    background-repeat: no-repeat;
    z-index: 999;
}

.cd-panel {
    position: fixed;
    border: 1px solid white;
    background-image: url("../images/bg-textures/ctr-panel-back.png");
    top: 50px;
    left: 0;
    height: 210px;
    width: 170px;
    visibility: hidden;
    overflow: hidden;
    z-index: 998;
}

.cd-panel.is-visible {
    visibility: visible;
}

.cd-panel-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    width: 18px;
    background-image: url("../images/bg-textures/btn-close.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.panel-heading {
    font-family: 'Kreon', serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: capitalize;
    color: #010101;
    text-align: center;
    margin-top: 20px;
}

.panel-description {
    font-family: 'Georgia', serif;
    font-size: 10px;
    font-style: italic;
    color: #9f9f9f;
    text-align: center;
}

.bg-images-container{
    padding: 10px 23px 0 23px;
}

.bg-texture {
    display: inline-block;
    background-repeat: repeat;
    height: 19px;
    width: 19px;
    float: left;
    margin: 5px 5px 5px 5px;
    border: 1px solid #adadad;
}

.bg-texture.end {
    margin-right: 0;
}