.slider-description, .inactive
  display none
  height 100px
  width 170px
  box-sizing border-box
  background-color white
  border 1px solid #f0f0f0
  border-radius 10px
  font-family Georgia, serif
  font-size 12px
  font-style italic
  line-height 18px
  color #929292
  padding 15px 0 20px 20px
  position absolute
  top -90px
  left -60px
  -webkit-box-shadow 1px 1px 3px rgba(0, 0, 0, 0.2)
  -moz-box-shadow 1px 1px 3px rgba(0, 0, 0, 0.2)
  box-shadow 1px 1px 3px rgba(0, 0, 0, 0.2)
  z-index 669
  overflow hidden

.hovered:after
  border-color white transparent
  border-style solid
  border-width 15px 15px 0
  content ""
  display block
  bottom 35px
  left 12px
  position absolute
  width 0
  z-index 700

.multimedia-slider
  overflow visible
  border 1px solid #f0f0f0
  box-sizing border-box
  border-radius 5px
  padding 15px 30px
  width 555px
  height 85px
  -webkit-box-shadow 4px 5px 6px -7px rgba(0, 0, 0, 1)
  -moz-box-shadow 4px 5px 6px -7px rgba(0, 0, 0, 1)
  box-shadow 4px 5px 6px -7px rgba(0, 0, 0, 1)

  .slider-item.last
    margin-right 0

  .slider-item
    position relative
    float left
    margin-right 19px

    img
      border 3px solid white
      -moz-box-shadow 0px 0px 1px rgba(0, 0, 0, 0.55)
      -webkit-box-shadow 0px 0px 1px rgba(0, 0, 0, 0.55)
      box-shadow 0px 0px 1px rgba(0, 0, 0, 0.55)

#btn-prev, #btn-next
  display block
  height 22px
  width 22px
  background-repeat no-repeat
  border 1px solid #d5d5d5

  &:hover
    border 1px solid #9b9b9b

#btn-prev
  background-image url("../images/prev-sm.jpg")
  position relative
  float left
  top 32px
  left -7px

#btn-next
  background-image url("../images/next-sm.jpg")
  position relative
  float right
  top 32px
  right 11px

@media only screen and (max-width: 980px)
  .multimedia-slider
    width 325px
    padding 15px 31px

    .slider-item
      margin-right 15px

  #btn-next
    right 106px

@media only screen and (max-width: 840px)
  .multimedia-slider
    width 555px

    .slider-item
      margin-right 18px

  #btn-next
    right 6px